@font-face { font-family: SM; src: url('/fonts/space_marine/SM.TTF'); } 
@font-face { font-family: CUSTOMRUBIK; src: url('/fonts/Rubik/static/Rubik-Bold.ttf'); } 

.body-font-bm {
    font-family: CUSTOMRUBIK;
}